<!DOCTYPE html>
<html>
	<head>
	
		<title>Employee Management</title>
		
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">

		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		
	    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-startup-image" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
		<link rel="apple-touch-icon-precomposed" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png">
	
	</head>
	<body>
	
		<div class="container-fluid" ng-app="application" ng-controller="controller">
		
			<h4 class="pb-2 mt-4 mb-3 border-bottom">
				Employee Management
			</h4>
			
			<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
			</div>
			
			<div class="card">
				<div class="card-header fw-bold">
					Employee Search
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="id" class="form-label">Id</label>
								<input id="id" ng-model="employeeSearch.id" type="tel" class="form-control is-valid" placeholder="Id" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="name" class="form-label">Name</label>
								<input id="name" ng-model="employeeSearch.name" type="text" class="form-control is-valid name" placeholder="Name" maxlength="100" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="gender" class="form-label">Gender</label>
								<input id="gender" ng-model="employeeSearch.gender" type="text" class="form-control is-valid" placeholder="Gender" maxlength="1" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="age" class="form-label">Age</label>
								<input id="age" ng-model="employeeSearch.age" type="tel" class="form-control is-valid age" placeholder="Age" maxlength="2" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="cpr" class="form-label">Cpr</label>
								<input id="cpr" ng-model="employeeSearch.cpr" type="tel" class="form-control is-valid cpr" placeholder="Cpr" maxlength="9" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="mobile" class="form-label">Mobile</label>
								<input id="mobile" ng-model="employeeSearch.mobile" type="tel" class="form-control is-valid mobile" placeholder="Mobile" maxlength="8" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="id" class="form-label">Address Id</label>
								<input id="id" ng-model="employeeSearch.address.id" type="tel" class="form-control is-valid" placeholder="Address Id" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="building" class="form-label">Address Building</label>
								<input id="building" ng-model="employeeSearch.address.building" type="tel" class="form-control is-valid" placeholder="Address Building" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="road" class="form-label">Address Road</label>
								<input id="road" ng-model="employeeSearch.address.road" type="tel" class="form-control is-valid" placeholder="Address Road" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="block" class="form-label">Address Block</label>
								<input id="block" ng-model="employeeSearch.address.block" type="tel" class="form-control is-valid" placeholder="Address Block" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="id" class="form-label">City Id</label>
								<input id="id" ng-model="employeeSearch.address.city.id" type="tel" class="form-control is-valid" placeholder="City Id" maxlength="10" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="name" class="form-label">City Name</label>
								<input id="name" ng-model="employeeSearch.address.city.name" type="text" class="form-control is-valid name" placeholder="City Name" maxlength="100" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="active" class="form-label">City Active</label>
								<input id="active" ng-model="employeeSearch.address.city.active" type="text" class="form-control is-valid" placeholder="City Active" maxlength="1" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="active" class="form-label">Address Active</label>
								<input id="active" ng-model="employeeSearch.address.city.active" type="text" class="form-control is-valid" placeholder="Address Active" maxlength="1" autocomplete="off">
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4">
							<div class="mb-3">
								<label for="active" class="form-label">Active</label>
								<input id="active" ng-model="employeeSearch.active" type="text" class="form-control is-valid" placeholder="Active" maxlength="1" autocomplete="off">
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<button type="button" class="btn btn-dark" ng-click="searchEmployee()">Search</button>
				</div>
			</div>
			
			<div class="card mt-4">
				<div class="card-header fw-bold">
					Employee List
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Id
								</th>
								<th>
									Name
								</th>
								<th>
									Gender
								</th>
								<th>
									Age
								</th>
								<th>
									Cpr
								</th>
								<th>
									Mobile
								</th>
								<th>
									Address Id
								</th>
								<th>
									Address Building
								</th>
								<th>
									Address Road
								</th>
								<th>
									Address Block
								</th>
								<th>
									City Id
								</th>
								<th>
									City Name
								</th>
								<th>
									City Active
								</th>
								<th>
									Address Active
								</th>
								<th>
									Active
								</th>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#employeeModal" ng-click="toAddEmployee()">Add</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="employee in searchedEmployees.slice(from, to)">
								<td>
									{{$index + 1}}
								</td>
								<td>
									{{employee.id}}
								</td>
								<td>
									{{employee.name}}
								</td>
								<td>
									{{employee.gender}}
								</td>
								<td>
									{{employee.age}}
								</td>
								<td>
									{{employee.cpr}}
								</td>
								<td>
									{{employee.mobile}}
								</td>
								<td>
									{{employee.address.id}}
								</td>
								<td>
									{{employee.address.building}}
								</td>
								<td>
									{{employee.address.road}}
								</td>
								<td>
									{{employee.address.block}}
								</td>
								<td>
									{{employee.address.city.id}}
								</td>
								<td>
									{{employee.address.city.name}}
								</td>
								<td>
									{{employee.address.city.active ? 'Yes' : 'No'}}
								</td>
								<td>
									{{employee.address.city.active ? 'Yes' : 'No'}}
								</td>
								<td>
									{{employee.active ? 'Yes' : 'No'}}
								</td>
								<th>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#viewModal" ng-click="selectEmployee(employee)">View</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#employeeModal" ng-click="toUpdateEmployee(employee)">Edit</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="!employee.active" ng-click="selectEmployee(employee)">Activate</button>
									<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#activateModal" ng-if="employee.active" ng-click="selectEmployee(employee)">Deactivate</button>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-3 text-start">
							<button type="button" class="btn btn-dark" ng-if="pageNo != 1" ng-click="first()">First</button>
							<button type="button" class="btn btn-dark" ng-if="pageNo != 1" ng-click="previous()">Previous</button>
						</div>
						<div class="col-2 text-center">
							<label class="fw-bold">
								Rows :
								<select ng-model="rows" class="form-control d-inline w-auto" ng-change="updateRows()">
									<option ng-value="5">5</option>
									<option ng-value="10">10</option>
									<option ng-value="15">15</option>
									<option ng-value="20">20</option>
								</select>
							</label>
						</div>
						<div class="col-2 text-center">
							<label class="fw-bold pt-1">
								Total : {{searchedEmployees.length}}
							</label>
						</div>
						<div class="col-2 text-center">
							<label class="fw-bold pt-1">
								Page {{pageNo}} of {{pageCount}}
							</label>
						</div>
						<div class="col-3 text-end">
							<button type="button" class="btn btn-dark" ng-if="pageNo != pageCount" ng-click="next()">Next</button>
							<button type="button" class="btn btn-dark" ng-if="pageNo != pageCount" ng-click="last()">Last</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="employeeModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{employee.id == null ? 'Add' : 'Update'}} Employee</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="alert" ng-class="alert.class" ng-bind="alert.message" class="alert fw-bold text-center" role="alert">
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Employee Details
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="name" class="form-label">Name</label>
												<input id="name" ng-model="employee.name" type="text" class="form-control is-valid name required" placeholder="Name" maxlength="100" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="gender" class="form-label">Gender</label>
												<input id="gender" ng-model="employee.gender" type="text" class="form-control is-valid required" placeholder="Gender" maxlength="1" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="age" class="form-label">Age</label>
												<input id="age" ng-model="employee.age" type="tel" class="form-control is-valid age required" placeholder="Age" maxlength="2" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="cpr" class="form-label">Cpr</label>
												<input id="cpr" ng-model="employee.cpr" type="tel" class="form-control is-valid cpr required" placeholder="Cpr" maxlength="9" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="mobile" class="form-label">Mobile</label>
												<input id="mobile" ng-model="employee.mobile" type="tel" class="form-control is-valid mobile required" placeholder="Mobile" maxlength="8" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="building" class="form-label">Address Building</label>
												<input id="building" ng-model="employee.address.building" type="tel" class="form-control is-valid required" placeholder="Address Building" maxlength="10" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="road" class="form-label">Address Road</label>
												<input id="road" ng-model="employee.address.road" type="tel" class="form-control is-valid required" placeholder="Address Road" maxlength="10" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="block" class="form-label">Address Block</label>
												<input id="block" ng-model="employee.address.block" type="tel" class="form-control is-valid required" placeholder="Address Block" maxlength="10" autocomplete="off">
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-4">
											<div class="mb-3">
												<label for="name" class="form-label">City Name</label>
												<input id="name" ng-model="employee.address.city.name" type="text" class="form-control is-valid name" placeholder="City Name" maxlength="100" autocomplete="off">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Certificate List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													Title
												</th>
												<th>
													Year
												</th>
												<th>
													<button type="button" class="btn btn-dark" ng-click="addCertificate($index)">Add</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="certificate in employee.certificates">
												<td>
													{{$index + 1}}
												</td>
												<td>
													<div class="mb-3">
														<input id="title" ng-model="certificate.title" type="text" class="form-control is-valid" placeholder="Title" maxlength="200" autocomplete="off">
													</div>
												</td>
												<td>
													<div class="mb-3">
														<input id="year" ng-model="certificate.year" type="tel" class="form-control is-valid" placeholder="Year" maxlength="10" autocomplete="off">
													</div>
												</td>
												<th>
													<button type="button" class="btn btn-dark" ng-click="addCertificate($index)">+</button>
													<button type="button" class="btn btn-dark" ng-click="deleteCertificate($index)">-</button>
												</th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" ng-if="employee.id == null" ng-click="addEmployee()">Add</button>
							<button type="button" class="btn btn-dark" ng-if="employee.id != null" ng-click="updateEmployee()">Update</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="viewModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">View Employee</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Employee Details
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<tbody>
											<tr>
												<th>
													Id
												</th>
												<td>
													{{employee.id}}
												</td>
											</tr>
											<tr>
												<th>
													Name
												</th>
												<td>
													{{employee.name}}
												</td>
											</tr>
											<tr>
												<th>
													Gender
												</th>
												<td>
													{{employee.gender}}
												</td>
											</tr>
											<tr>
												<th>
													Age
												</th>
												<td>
													{{employee.age}}
												</td>
											</tr>
											<tr>
												<th>
													Cpr
												</th>
												<td>
													{{employee.cpr}}
												</td>
											</tr>
											<tr>
												<th>
													Mobile
												</th>
												<td>
													{{employee.mobile}}
												</td>
											</tr>
											<tr>
												<th>
													Address Id
												</th>
												<td>
													{{employee.address.id}}
												</td>
											</tr>
											<tr>
												<th>
													Address Building
												</th>
												<td>
													{{employee.address.building}}
												</td>
											</tr>
											<tr>
												<th>
													Address Road
												</th>
												<td>
													{{employee.address.road}}
												</td>
											</tr>
											<tr>
												<th>
													Address Block
												</th>
												<td>
													{{employee.address.block}}
												</td>
											</tr>
											<tr>
												<th>
													City Id
												</th>
												<td>
													{{employee.address.city.id}}
												</td>
											</tr>
											<tr>
												<th>
													City Name
												</th>
												<td>
													{{employee.address.city.name}}
												</td>
											</tr>
											<tr>
												<th>
													City Active
												</th>
												<td>
													{{employee.address.city.active ? 'Yes' : 'No'}}
												</td>
											</tr>
											<tr>
												<th>
													Address Active
												</th>
												<td>
													{{employee.address.city.active ? 'Yes' : 'No'}}
												</td>
											</tr>
											<tr>
												<th>
													Active
												</th>
												<td>
													{{employee.active ? 'Yes' : 'No'}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card mt-4">
								<div class="card-header fw-bold">
									Certificate List
								</div>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>
													#
												</th>
												<th>
													Title
												</th>
												<th>
													Year
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="certificate in employee.certificates">
												<td>
													{{$index + 1}}
												</td>
												<td>
													{{certificate.title}}
												</td>
												<td>
													{{certificate.year}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="activateModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{employee.active ? 'Deactivate' : 'Activate'}} Employee</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h4>Are you sure to {{employee.active ? 'deactivate' : 'activate'}} Employee</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="!employee.active" ng-click="updateEmployeeActive()">Activate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal" ng-if="employee.active" ng-click="updateEmployeeActive()">Deactivate</button>
							<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			
			var application = angular.module("application", []);
		
			application.controller("controller", 

				function($scope, $timeout){
					
					$scope.rows = 5;
					$scope.from = 0;
					$scope.to = $scope.rows;
					$scope.pageNo = 1;
					$scope.pageCount = 0;
					$scope.alert = {class:"d-none", message:null};
					$scope.employeeSearch = new Object();
					$scope.employee = new Object();
					
					$scope.employee.certificates = new Array();
					
					if(localStorage.getItem("employees") != null){
						$scope.employees = JSON.parse(localStorage.getItem("employees"));
					}else{
						$scope.employees = new Array();
						localStorage.setItem("employees", JSON.stringify($scope.employees));
					}
					
					$scope.searchedEmployees = new Array();
					
					$scope.$watchCollection("employees", function(){
						
						$scope.employees.forEach(function(employee){
							delete employee["$$hashKey"];
						});
						
						localStorage.setItem("employees", JSON.stringify($scope.employees));
					});
					
					$scope.selectEmployee = function(employee){
						
						$scope.employee = Object.assign(new Object, employee);
					}
					
					$scope.toAddEmployee = function(){
						
						$scope.alert = {class:"alert-info", message:"Please enter Employee Details"};
						
						$scope.employee = new Object();
						
						$scope.employee.certificates = new Array();
					}
					
					$scope.addEmployee = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							$scope.employee.id = $scope.employees.length + 1;
							$scope.employee.active = true;
							
							$scope.employees.push($scope.employee);
							
							$scope.alert = {class:"alert-success", message:"Employee with ID#" + $scope.employee.id + " has been added successfully"};
							
							$("#employeeModal").modal("hide");
							
							$scope.searchEmployee();
							
						}else{
							
							$scope.alert = {class:"alert-danger", message:result};
						}
					}
					
					$scope.toUpdateEmployee = function(employee){
						
						$scope.alert = {class:"alert-info", message:"Please update Employee Details"};
						
						$scope.employee = Object.assign(new Object, employee);
						
						if($scope.employee.certificates == null){
							$scope.employee.certificates = new Array();
						}
						
						
						$timeout(function(){
							
							isValidForm();
						})
					}
					
					$scope.updateEmployee = function(){
						
						window.scrollTo(0, 0);
						
						var result = isValidForm();
						
						if(result == null){
							
							var index = $scope.employees.findIndex(function(employee){
								return employee.id == $scope.employee.id;
							});
							
							$scope.employees[index] = $scope.employee;
							
							$scope.alert = {class:"alert-success", message:"Employee with ID#" + $scope.employee.id + " has been updated successfully"};
							
							$scope.searchEmployee();
							
							$("#employeeModal").modal("hide");
							
							$scope.searchEmployee();
							
						}else{
							
							$scope.alert = {class:"alert-danger", message:result};
						}
					}
					
					$scope.updateEmployeeActive = function(){
						
						$scope.employee.active = !$scope.employee.active;
						
						var index = $scope.employees.findIndex(function(employee){
							return employee.id == $scope.employee.id;
						});
						
						$scope.employees[index] = $scope.employee;
						
						if($scope.employee.active){
							
							$scope.alert = {class:"alert-success", message:"Employee with ID#" + $scope.employee.id + " has been activated successfully"};
							
						}else{
							
							$scope.alert = {class:"alert-success", message:"Employee with ID#" + $scope.employee.id + " has been deactivated successfully"};
						}
						
						$scope.searchEmployee();
					}
					
					$scope.updatePagination = function(){
						
						$scope.pageCount = Math.ceil($scope.searchedEmployees.length/$scope.rows);
						$scope.from = ($scope.pageNo - 1) * $scope.rows;
						$scope.to = $scope.pageNo * $scope.rows;
					}
					
					$scope.$watch("pageNo", function(){
						$scope.updatePagination();
					});
					
					$scope.updateRows = function(){
						
						$scope.first();
						
						$scope.updatePagination();
					}
					
					$scope.first = function(){
						$scope.pageNo = 1;
					}
					
					$scope.previous = function(){
						$scope.pageNo--;
					}
					
					$scope.next = function(){
						$scope.pageNo++;
					}
					
					$scope.last = function(){
						$scope.pageNo = $scope.pageCount;
					}
					
					$scope.searchEmployee = function(){
						
						$scope.searchedEmployees = new Array();
						
						$scope.employees.forEach(function(employee){
							
							var matched = true;
							
							for(let property in $scope.employeeSearch){
								
								if($scope.employeeSearch[property] != null
									&& $scope.employeeSearch[property] != ""
									&& $scope.employeeSearch[property] != employee[property]){
									
									matched = false;
								}
							}
							
							if(matched){
								$scope.searchedEmployees.push(employee);
							}
						});
					}
					
					$scope.searchEmployee();
					
					$scope.addCertificate = function(index){
						$scope.employee.certificates.splice(index, 0, new Object());
					}
					
					$scope.deleteCertificate = function(index){
						$scope.employee.certificates.splice(index, 1);
					}
				}
			);
			
		</script>
		<script src="common.js"></script>
	</body>
</html>